# Firebase Configuration
VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN=""
VITE_FIREBASE_PROJECT_ID=""
VITE_FIREBASE_STORAGE_BUCKET=""
VITE_FIREBASE_MESSAGING_SENDER_ID=""
VITE_FIREBASE_APP_ID=""

# App Check
VITE_RECAPTCHA_SITE_KEY=""
VITE_APP_CHECK_DEBUG_TOKEN="true" # Use a real generated token for local dev, or 'true' to auto-generate

# Vertex AI
# No keys needed here. The backend uses Application Default Credentials.
